{:background   "#282c33"
 :exception    "#a5f0b4"
 :repeat       "#a5f0b4"
 :conditional  "#a5f0b4"
 :variable     "#e1e1e1"
 :core-fn      "#a5f0b4"
 :definition   "#a5f0b4"
 :reader-char  "#e1e1e1"
 :special-form "#a5f0b4"
 :macro        "#a5f0b4"
 :number       "#fcc6a3"
 :boolean      "#e7c7f9"
 :nil          "#e7c7f9"
 :s-exp        "#a0d7ff"
 :keyword      "#e7c7f9"
 :comment      "#9296a0"
 :string       "#f8ea9e"
 :character    "#f8ea9e"
 :regex        "#f8ea9e"
 :symbol       "#e1e1e1"}